<div id="componente">
    <h1>Parabéns!</h1>
    <h4>Seu componente está sendo exibido em tela</h4>
    <hr>
    <h5>Como aparece o seu evento abaixo?</h5>
    
    <div class="cartao">
        <div>
        Evento: {{evento.name}}
        </div>
        <div>
        Data: <app-datas data={{evento.date}}></app-datas>
        </div>
        <div>
        Hora: {{evento.time}}
        </div>
        <div>
        Endereço: <app-endereco endereco={{evento.location.address}},{{evento.location.city}},{{evento.location.country}}></app-endereco>
        </div>
    </div>

    <div class="cartao" *ngFor="let evento of eventos">
        <div>
            Evento: {{evento.name}}
        </div>
        <div>
            Data: {{evento.date}}
        </div>
        <div>
            Hora: {{evento.time}}
        </div>
        <div *ngIf="evento.location">
            Endereço: <app-endereco (atualizouEndereco)="receberEnderecoAtualizado($event)" endereco={{evento.location.address}},{{evento.location.city}},{{evento.location.country}}></app-endereco>
        </div>
        <div *ngIf="evento.onlineUrl">
            URL: <a href={{evento.onlineUrl}} >Visitar site</a>
        </div>
    
    </div>

  </div>